@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("Roboto-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("Roboto-Bold.ttf");
  font-weight: bold;
}



html {
  font-family: Roboto;
  /* font-weight:; */
}

#big {
  font-size: 7em;
  font-style: italic;
  /* font-weight: bold; */
}