html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.paper {
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  width: 50%;
  height: 400px;
}

.position-me {
  position: fixed;
  background: rebeccapurple;
  padding: 16px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.position-me-too {
  position: relative;
  top: -20px;
  padding: 16px;
  background: pink;
}
